:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Start Navbar  */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  transition: 0.3s;
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font: 18px;
  border: 1px solid white;
  transition: 0.3s;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
.main-btn {
  transition: 0.3s;
  color: var(--yellow-color) !important;
}
.main-btn:hover {
  background-color: rgb(190, 95, 95) !important;
  transform: scale(1.1);
}
/* End Navbar  */

/* Start Landing  */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
.landing .content p {
  color: rgba(221, 221, 221, 0.705);
  font-size: 14px;
  margin-bottom: 40px;
}
/* End Landing  */

/* Start Features  */
.main-title {
  text-align: center;
  position: relative;
}
.main-title::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: var(--green-color);
}
.main-title svg {
  color: #ffc400;
  font-size: 50px;
  padding-bottom: 30px;
}
.main-title p {
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
}
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: silver;
}
.features .icon-holder .icon {
  font-size: 50px;
  color: var(--green-color);
}
.features .feat h3 {
  color: var(--yellow-color);
  text-transform: uppercase;
}
/* End Features  */

/* Start Our Work  */
.our-work {
  background-color: var(--section-color);
}
.our-work ul li.active {
  color: var(--yellow-color);
  background-color: var(--red-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.our-work ul li:hover {
  color: var(--yellow-color);
  background-color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #33d1cc6b;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  font-size: 25px;
  transform: translateX(calc(-100% - 5px));
  transition: 0.3s;
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* End Our Work  */

/* Start Stuff  */
@media (max-width: 500px) {
  .stuff .box {
    flex-direction: column;
  }
  .stuff .box .btn {
    margin-bottom: 20px;
  }
  .stuff .box .left {
    text-align: center;
  }
}
/* End Stuff  */

/* Start Team  */
.team {
  background-color: var(--section-color);
}
.team h1 {
  color: var(--yellow-color);
}
.team h3 {
  background-color: var(--green-color);
}
/* End Team  */

/* Start Projects  */
.projects {
  background-color: var(--dark-color);
}
/* End Projects  */

/* Start Subscribe  */
.subscribe {
  background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--yellow-color);
  transition: 0.3s;
}
.subscribe input[type="submit"]:hover {
  background-color: var(--dark-color);
  transform: scale(1.1);
  color: var(--yellow-color);
}
:focus {
  outline: none;
}
/* End Subscribe  */

/* Start Footer  */
.footer {
  background-color: var(--dark-color);
}
.footer .info p:first-child span {
  font-weight: bold;
  color: var(--green-color);
}
.footer .info p:last-child span {
  font-weight: bold;
  color: var(--yellow-color);
}
.footer .icons ul {
  justify-content: space-between;
}
.footer .icons img {
  width: 50px;
  margin-right: 10px;
}
/* End Footer  */
