:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
/* Start Navbar  */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  transition: 0.3s;
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font: 18px;
  border: 1px solid white;
  transition: 0.3s;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
.main-btn {
  transition: 0.3s;
  color: var(--yellow-color) !important;
}
.main-btn:hover {
  background-color: rgb(190, 95, 95) !important;
  transform: scale(1.1);
}
/* End Navbar  */

/* Start Landing  */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
.landing .content p {
  color: rgba(221, 221, 221, 0.705);
  font-size: 14px;
  margin-bottom: 40px;
}
/* End Landing  */

/* Start Features  */
.main-title {
  text-align: center;
  position: relative;
}
.main-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 1px;
  background-color: var(--green-color);
}
.main-title svg {
  color: #ffc400;
  font-size: 50px;
  padding-bottom: 30px;
}
.main-title p {
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
}
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: silver;
}
.features .icon-holder .icon {
  font-size: 50px;
  color: var(--green-color);
}
.features .feat h3 {
  color: var(--yellow-color);
  text-transform: uppercase;
}
/* End Features  */
